.flightBox {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  border: 1px solid $gray;
  padding: 40px;
  min-height: 400px;
  background: center center / cover no-repeat;
  overflow: hidden;
  color: $white;

  &:hover {
    opacity: 1;

    &::before {
      opacity: 0.9;
    }

    .backgroundImg {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }

  h2 {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $black;
    opacity: 0.7;
    z-index: 0;
    transition: 0.4s;
  }

  .backgroundImg {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: 0.5s;
  }
}
