.flightForm {
  padding: 40px;
  background-color: $gray;
  border-radius: 10px;

  .flightInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;

    .destinations {
      font-size: 32px;
      line-height: 40px;
    }

    .planeName {
      font-size: 12px;
      font-weight: $regular;
      margin-bottom: 20px;
    }

    .flightId {
      font-size: 14px;
      margin-bottom: 4px;
    }
  }

  .resultPricing {
    padding-top: 20px;
    display: none;

    &.active {
      display: block;
    }

    .title {
      font-weight: $bold;

      font-size: 18px;

      span {
        font-weight: $regular;
      }
    }
  }

  .button {
    margin-top: 15px;
  }

  .selectedPlacesWrap {
    padding-top: 20px;


    .selectedPlaces {
      max-height: 43vh;
      overflow: auto;
    }

    .sectionTitle {
      font-size: 22px;
      margin-bottom: 20px;
    }

    .placeWrap {
      margin-bottom: 20px;
      border-bottom: 1px solid gray;
      padding-bottom: 20px;

      .title {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 3px;

        span {
          font-weight: 400;
        }
      }

      .laug {
        display: flex;
        align-items: center;

        label {
          font-size: 16px;
          letter-spacing: unset;
        }

        input {
          width: auto;
        }
      }

      .discount {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .laug {
        margin-bottom: 10px;

        label {
          font-size: 14px;
          margin-left: 5px;
          text-transform: uppercase;
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .flightForm {
    padding: 30px;

    .flightInfo {
      padding-bottom: 20px;

      .destinations {
        font-size: 22px;
        line-height: 30px;
      }
    }

    .resultPricing {
      padding-top: 20px;
      display: none;

      &.active {
        display: block;
      }

      .title {
        font-size: 14px;
      }
    }

    .selectedPlacesWrap {
      padding-top: 10px;


      .selectedPlaces {
        max-height: 43vh;
        overflow: auto;
      }

      .sectionTitle {
        font-size: 16px;
        margin-bottom: 10px;
      }

      .placeWrap {
        margin-bottom: 10px;
        padding-bottom: 10px;

        .title {
          font-size: 14px;
        }

        .discount {
          margin-top: 10px;
          margin-bottom: 10px;
        }

        .laug {
          margin-bottom: 10px;

          label {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .flightForm {
    .selectedPlacesWrap {
      .selectedPlaces {
        max-height: unset;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .flightForm {
    position: relative;
    z-index: 2;
    padding: 20px 25px;

    .flightInfo {
      padding-bottom: 10px;
    }
  }
}