.plane {
  display: none;

  #premium {
    g {

      g {

        path {
          fill: $black !important;
        }
      }
    }
  }

  #business {
    g {

      g {

        path {
          fill: $blue !important;
        }
      }
    }
  }

  #economic {
    g {

      g {

        path {
          fill: $skyBlue !important;
        }
      }
    }
  }

  #premium,
  #business,
  #economic {
    g {

      g {

        &:hover {
          path {
            fill: $green !important;
            cursor: pointer;
          }
        }

        &.active {

          path {
            fill: #16a085 !important;
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
    }

  }
}