.button {
  display: block;
  box-sizing: border-box;
  background-color: $white;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  transition: .4s;
  width: auto;
  cursor: pointer;

  &:hover {
    color: white;
    background-color: $black;
  }

  &.second {
    font-size: 14px;
    text-align: center;
    letter-spacing: unset;
    width: auto;
    padding: 10px;
    background-color: $black;
    color: $white;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}