footer {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
  background-color: $white;
  width: 100%;

  p {
    font-size: 14px;
    font-weight: $regular;
  }
}