input {
  display: block;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding: 10px 20px 10px 20px;
  width: 100%;
}

label {
  display: block;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-bottom: 2px;
}

.inputWrap {
  margin-bottom: 25px;
}
